html {
    background-color: #FA4D4F;
}

.container-fluid {
    filter: none;
}

.main-body {
    background-color: #FA4D4F;
}

.header-title {
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 50px;
}

.required-alert, .invalid-alert {
    margin-left: 13%;
}

.search-history-table {
    width: 50%;
}

.search-history-item {
    background-color: #F16D6E;
    color: white;
}

.search-history-item > td {
    font-size: 24px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px!important;
    }
.header-pics {
    height: 36px!important;
    }    
}