/* general styles */
body {
    font-family: "Zilla Slab", serif;
    margin: 20px;
    color: #2d4059;
}

.container-fluid {
    filter: drop-shadow(8px 8px 6px lightgray);
}

p {
    line-height: 1;
}

h1 {
  font-family: 'Russo One', sans-serif;
  color: black;
  font-size: 44px;
}

h2 {
    font-size: 24px;
}

/* header items */
header {
  background-color: #ea5455;
  padding-top: 50px;

}

.form-control::placeholder {
    font-weight: bold;
}

.searchButton {
    cursor: pointer;
    box-shadow: none;
}

.searchButton:hover {
    filter: drop-shadow(4px 4px 2px #504C4C);
}

#search-button-addon {
    box-shadow: none;
}

/* left column */
li {
    list-style: none;
    margin: 6px;
    background-color: #decdc3;
    cursor: pointer;

    padding: 10px;
    border-radius: 2px;
    filter: drop-shadow(4px 4px 2px);
}

li:hover {
  background-color: #B7D3F7;
}

.searchHistory {
    background-color: #e5e5e5;
}

/* center column */
.returnedRestaurants {
    background-color: #decdc3;
    padding: 10px;
}

.restaurantInfo {
    cursor: pointer;
    background-color: #e5e5e5;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    filter: drop-shadow(4px 4px 2px #504C4C);
}


/* right column */
.conditions {
    background-color: #e5e5e5;
}

.weather,
.todayAQI {
    padding: 10px;
    margin: 10px;
    background-color: #B7D3F7;
    background-image: linear-gradient(#4D6D9C, #578BD8, #6D9FEC);
    color: white;
    filter: drop-shadow(4px 4px 2px #504C4C);
    border-radius: 20px;
}

.aqiLocal {
    padding: 10px;
    border: 1px solid black;
}

.good {
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
    color: black;
}

.sensitive {
    background-color: orange;
    color: black;

}

.unhealthy {
    background-color: red;
    color: white;
}

.veryUnhealthy {
    background-color: blueviolet;
    color: white;
}

.hazardous {
    background-color: maroon;
    color: white;
}

/* Modal Styles */
.venue-image-display {
    width: 500px;
}

@media (max-width: 740px) {
    .venue-image-display {
        width: 100%;
        margin-bottom: 15px;
    }
}