body {
    font-family: 'Zilla Slab', serif;
   
}

header {
    background-color: #FD5858;
}

h1 {
    font-family: 'Bree Serif', serif;
    padding: 20px;
    font-size: 90px;
    text-align: center; 
}

.inputFields {
   width: 60%;
   padding: 20px;
}