/* general styles */
body {
    font-family: "Zilla Slab", serif;
    color: #2d4059;
}

.container-fluid {
    filter: drop-shadow(8px 8px 6px lightgray);
}

p {
    line-height: 1;
}

h2 {
    font-size: 24px;
}

/* header items */
header {
  background-color: #EF2729;
  padding-top: 50px;
}

h1 {
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 50px;
}

.header-pics {
    height: 50px;
}

.input-pics {
    height: 20px;
}

#search-button-addon-sm, #search-button-addon {
    height: 38px;
}

.mainContent {
    height: 84vh;
    overflow-y: auto;
    padding-top: 1.5rem;
}


@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
.header-pics {
    height: 36px;
    } 
    header {
        padding-top: 10px;
    }   
}

@media (max-width: 640px) {
    h1 {
        font-size: 30px;
    }
    .header-pics {
        height: 30px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 24px;
    }
    .header-pics {
        height: 24px;
    }
}

.form-control::placeholder {
    font-weight: bold;
}

.searchButton {
    cursor: pointer;
    box-shadow: none;
    height: 30px;
}

.searchButton:hover {
    filter: drop-shadow(4px 4px 2px #504C4C);
}

#search-button-addon {
    box-shadow: none;
}

/* left column */
li {
    list-style: none;
    margin: 6px;
    background-color: #decdc3;
    cursor: pointer;

    padding: 10px;
    border-radius: 2px;
    filter: drop-shadow(4px 4px 2px);
}

li:hover {
  background-color: #F8D9DA;
}

.searchHistory {
    background-color: #e5e5e5;
    border-radius: 4px;
}

/* center column */
.returnedRestaurants {
    background-color: #decdc3;
    border-radius: 4px;
    padding: 10px;
}

.restaurantInfo {
    cursor: pointer;
    background-color: #e5e5e5;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    filter: drop-shadow(4px 4px 2px #504C4C);
}

.restaurantInfo:hover {
    background-color: #FFE7E7;
}

.resName {
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: #EF2729;
}

/* right column */
.conditions {
    background-color: #e5e5e5;
    border-radius: 4px;
}

.city {
    font-size: 24px;
}

.weather,
.todayAQI {
    padding: 10px;
    margin: 10px;
    background-color: #B7D3F7;
    background-image: linear-gradient(#4D6D9C, #578BD8, #6D9FEC);
    color: white;
    filter: drop-shadow(4px 4px 2px #504C4C);
    border-radius: 20px;
}

.weather-icon{
    width: 100px;
}

.city {
    font-size: 24px;
}

.temperature {
    font-size: 45px;
}

.UVI {
    padding:10px;
    border-radius: 30px;
    text-align: center;
}
.displayAQI {
    font-size: 60px;
    border-radius: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.good {
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
    color: black;
}

.sensitive {
    background-color: orange;
    color: black;

}

.unhealthy {
    background-color: red;
    color: white;
}

.veryUnhealthy {
    background-color: blueviolet;
    color: white;
}

.hazardous {
    background-color: maroon;
    color: white;
}

/* Modal Styles */
.venue-image-display {
    width: 500px;
}

#business-venue-name {
    font-size: 34px;
}

.modal-header{
    background-color: #EF2729;
    font-family: 'Kanit', sans-serif;
}

.search-history-item:hover{
    cursor: pointer;
    filter: drop-shadow(1px 2px 2px black);
}

.btn {
    background-color: #EF2729;
    color: white;
}

#dimmer
{
    background:#000;
    opacity:0.5;
    position:fixed; /* important to use fixed, not absolute */
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:9999; /* may not be necessary */
}

@media (max-width: 740px) {
    .venue-image-display {
        width: 100%;
        margin-bottom: 15px;
    }

    .mainContent {
        height: initial;
    }
}